# Fundamental of Data analysis TASKS

## Task 1 - **Collatz conjecture**
by Andreia Santos

DATE: October, 15th 2023
***

In [1]:

def f(x):
  # Divide by 2 if number is even
  if x% 2==0:
    return x//2
   # Is not even multiply by 3 and add 1
  else:
    return x*3+1

In [2]:
def collatz(x):
  print (f'Testing the collatz sequence for the number {x}')
  while x!=1:
    print (x, end =',')
    x=f(x)
  print (x)

In [3]:
collatz(10000)

Testing the collatz sequence for the number 10000
10000,5000,2500,1250,625,1876,938,469,1408,704,352,176,88,44,22,11,34,17,52,26,13,40,20,10,5,16,8,4,2,1

***

## Task 2 - **Variables types**
by Andreia Santos

DATE: November, 12th 2023
***

In [4]:
import pandas as pd
data = pd.read_csv('penguins.csv')
data.head() # to display the first 5 lines of loaded data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

Access the types of variable on the pinguins data set

In [5]:
data.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

Estimate how many different values there is on each type of the variable

In [6]:
data.nunique()

species                3
island                 3
bill_length_mm       164
bill_depth_mm         80
flipper_length_mm     55
body_mass_g           94
sex                    2
dtype: int64

Specify the unique values withing each variable

In [7]:
pd.Series(list(map(set,data.values.T)),index=data.columns)

species                                    {Adelie, Chinstrap, Gentoo}
island                                      {Dream, Torgersen, Biscoe}
bill_length_mm       {49.4, 49.9, 45.7, 50.4, 32.1, 33.1, 33.5, 35....
bill_depth_mm        {13.2, 14.1, 15.9, 16.7, 17.4, 18.4, 19.0, 20....
flipper_length_mm    {nan, 172.0, 174.0, 176.0, 178.0, 179.0, 180.0...
body_mass_g          {3075.0, 4100.0, 3600.0, 4625.0, 5650.0, 3100....
sex                                                {FEMALE, nan, MALE}
dtype: object

#### Answer:
The penguins data set is a matrix that characterizes 342 pinguins characterized over 7 features: species, island, bill_length, bill_depth, flipper_length, body mass and sex. 
The different types of features are organized in categorical and numerical variables. 

The categorical are: species, island and sex. These are categorical variables that represent different population groups: species (3 different types: Adelie', 'Chinstrap', 'Gentoo'), island (3 differnt locations: 'Torgersen', 'Biscoe', 'Dream') and sex (3 different types: female, male or unkonwn).
The numerical are: bill_length, bill_depth, flipper_length and body- mass. These are continuos numerical variables measured or either milimeters or grams (body-mass only) which correspond to physical characteristics of the pinguins. 

Whenever  possible data types should be saved/operated as integer once they consume less memory than float number.However note that not all variable are adequate to be handle as integers types. When there is the need of performing divisions float type should be used despite more memory consuming. 
The ideal types of variable for this pinguins data set will be dependent on the purpose of the analyse.
For example a regresssion analysis can be run between the variable body mass and any other numerical variable (bill_length, bill_depth, flipper_length ) and analyse dependency on the data. Or either classification studies can be run in order to predict the specie type based on al the numerical variables.